<h1><%= link_to @app.doctor.name, doctor_path(@app.doctor)%></h1>
<h2><%= link_to @app.patient.name, patient_path(@app.patient)%></h2>
<h3><%= @app.appointment_datetime.strftime("%B %d, %Y at %H:%M")%></h3>